html{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  /*overflow-x: hidden;*/
}
html h3{
  font-size: 4.5rem;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0.75rem;
}
html section{
  padding-top: 6%;
  padding-bottom: 6%;
}
html .text-container{
  padding: 1.25rem 5%;
}
html .anchor{ 
  margin-top: -24vh;        /* Size of fixed header */
  padding-bottom: 24vh; 
  display: block; 
}

/* navbar */
.navbar{
  text-align: center;
  width: 100vw;
  height: 24vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0);
  color: #FFFFFF;
  transition: all 0.4s ease;
}
.navbar.fill {
  background-color:rgba(23,23,23,0.98);
}
.navbar h2{
  text-transform: uppercase;
  font-size: 2rem;
}
.navbar .nav-icon{
  display: none;
}
.navbar .mob-menu{
  display: none;
}
.navbar .menu{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.navbar .menu li{
  margin: 0 0.5rem;
  white-space: nowrap;
}
.navbar .menu li a{
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.3s ease;
}
.navbar .menu li a:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}

/* header */
header{
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../images/hero-img.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

/* about-us */
.about-us{
  width: 70%;
  margin: 2rem auto;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: #FF9F1C;
  border-radius: 1.5rem;
}

/* products */
.products{
  /*width: 100vw;*/
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.products .img-container{
  width: 50%;
  display: flex;
  justify-content: space-around;
  order: 1;
}
.products .img-container img{
  width: 15vw;
  height: 15vw;
  /*transition: all 0.6s ease;
  backface-visibility: hidden;*/
}
/*.products .img-container img:hover{
  transform: rotateY(180deg);
}*/

.products .text-container{
  width: 40%;
  padding: 1.25rem 5%;
  order: 2;
}

/* services */
.services{
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.services-full-width{
  background-color: #F2F2F2;
}
.services .img-container{
  width: 50%;
  display: flex;
  justify-content: space-around;
  order: 2;
}
.services .img-container img{
  width: 15vw;
  height: 15vw;
}
.services .text-container{
  width: 40%;
  padding: 1.25rem 5%;
  order: 1;
}

/* brands */
.brands{
  text-align: center;
}
.brands .slides-container{
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.slider {
  width: 30vw;
  height: 15vh;
  margin: 4vh auto;
  position: relative;
}
.slide1,.slide2,.slide3{
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.slide2 {
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

/* testimony */
.testimony{
  background: linear-gradient(to right, #75B8C8, #1C7BFF);
  max-width: 100vw;
  height: 70vh;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 0;
}
.testimony h3{
  color: #333333;
  margin-bottom: 2.5rem;
}
.testimony .card{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 100vw;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  color: #333333; 
}
.testimony .card img{
  width: 200px;
  height: auto;
}
.testimony .card blockquote{
  text-align: center;
}
.testimony .card cite{
  align-self: flex-end;
}
.testimony .card:nth-of-type(1){
  animation: slideIn 40s ease 0s infinite;
}
.testimony .card:nth-of-type(2){
  animation: slideIn 40s ease 5s infinite;
}
.testimony .card:nth-of-type(3){
  animation: slideIn 40s ease 10s infinite;
}
.testimony .card:nth-of-type(4){
  animation: slideIn 40s ease 15s infinite;
}
.testimony .card:nth-of-type(5){
  animation: slideIn 40s ease 20s infinite;
}
.testimony .card:nth-of-type(6){
  animation: slideIn 40s ease 25s infinite;
}
.testimony .card:nth-of-type(7){
  animation: slideIn 40s ease 30s infinite;
}
.testimony .card:nth-of-type(8){
  animation: slideIn 40s ease 35s infinite;
}
@keyframes slideIn{
  0% {left: 100vw;}
  1% {left: 25vw;}
  10% {left: 25vw;}
  11% {left: -100vw;}
  100%{left: -100vw;}
}

/* footer */
footer{
  padding-top: 6%;
  padding-bottom: 0;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
footer .main-footer{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contact-info{
  min-height: 265px;
  min-width: 400px;
  background-color: #171717;
  border-radius: 1rem;
}
footer .contact-info .address{
  font-style: italic;
  font-size: 1.25rem;
  font-weight: lighter;
}
footer .or{
  font-size: 1.5rem;
  font-weight: lighter;
}
footer .emphasize{
  color: #75B8C8;
}
footer nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.75rem;
  background-color: #171717;
}
footer nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
footer nav .social{
  padding-left: 5.5rem;
}
footer nav ul li{
  margin: auto 0.5vw;
}
footer nav span i{
  border-bottom: 1px dotted #FFFFFF;
}
footer nav a{
  text-decoration: none;
  color: #FFFFFF;
}
footer nav img{
  width: 35px;
  height: auto;
}


/* media query */
@media only screen and (max-width: 768px){
  
  html h3{
  font-size: 4rem;
  }

  /* navbar */
  .navbar{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .navbar h2{
    font-size: 1.5rem;
  }
  .navbar .nav-icon{
    display: flex;
    font-size: 1.5rem;
  }
  .navbar .menu{
    display: none;
  }

  .navbar .mob-menu{
    display: none;
  }

  .navbar .expand{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .navbar .expand li{
    padding: 0.5rem;
  }

  #nav-icon{
    width: 40px;
    height: 45px;
    margin-top: 0.75rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon span:nth-child(1) {
    top: 0rem;
  }

  #nav-icon span:nth-child(2) {
    top: 0.75rem;
  }

  #nav-icon span:nth-child(3) {
    top: 1.5rem;
  }

  #nav-icon.open span:nth-child(1) {
    top: 0.75rem;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -3.75rem;
  }

  #nav-icon.open span:nth-child(3) {
    top: 0.75rem;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .navbar .menu li a:hover {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 4px 0; 
  }

  /* about-us */
  .about-us{
    width: 95%;
  }

  /* products */
  .products{
    flex-direction: column;
    text-align: center;
    width: 90%;
  }
  .products .img-container{
    width: 100%;
    order: 1;
  }
  .products .img-container img{
    width: 30vw;
    height: 30vw;
  }

  .products .text-container{
    width: 100%;
    order: 2;
  }

  /* services */
  .services{
    flex-direction: column;
    text-align: center;
    width: 90%;
  }
  .services .img-container{
    width: 100%;
    order: 1;
  }
  .services .img-container img{
    width: 30vw;
    height: 30vw;
  }
  .services .text-container{
    width: 100%;
    order: 2;
  }

  /* testimony */
  .testimony{
  height: 100vh;
  overflow-y: auto;
  }
  .testimony .card{
    width: 80vw;
  }
  @keyframes slideIn{
  0% {left: 100vw;}
  1% {left: 7vw;}
  10% {left: 7vw;}
  11% {left: -100vw;}
  100%{left: -100vw;}
  }

  /* footer */
  footer .main-footer{
  flex-direction: column;
  }
  footer .contact-info{
    overflow-x: auto;
  }
  footer nav{
    flex-direction: column;
    padding-bottom: 2vh;
  }
  footer nav .social{
  padding-left: 0;
}
}

@media only screen and (max-width: 480px){
  html{
    font-size: 1rem;
  }
  html h3{
    font-size: 3rem;
  }

  /* navbar */
  .navbar h2{
    font-size: 1.2rem;
  }

  #nav-icon{
    width: 25px;
    height: 40px;
    margin-top: 1.2rem;
  }

  #nav-icon span{
    height: 3px;
  }

  #nav-icon span:nth-child(1) {
    top: 0rem;
  }

  #nav-icon span:nth-child(2) {
    top: 0.6rem;
  }

  #nav-icon span:nth-child(3) {
    top: 1.2rem;
  }

  #nav-icon.open span:nth-child(1) {
    top: 0.6rem;
  }

  #nav-icon.open span:nth-child(2) {
    left: -3rem;
  }

  #nav-icon.open span:nth-child(3) {
    top: 0.6rem;
  }

  /* brands */
  .slider {
    width: 30vw;
    height: 10vh;
  }

  /* testimony */
  .testimony{
    height: 100vh;
    overflow-y: auto;
  }
  @keyframes slideIn{
  0% {left: 100vw;}
  1% {left: 5vw;}
  10% {left: 5vw;}
  11% {left: -100vw;}
  100%{left: -100vw;}
  }

  /* footer */
  footer .contact-info{
    min-height: 265px;
    min-width: 90vw;
    max-width: 90vw;
    background-color: #171717;
    border-radius: 1rem;
  }
}