html{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  overflow-x: hidden;
}
html h3{
  font-size: 4.5rem;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0.75rem;
}
html section{
  padding-top: 6%;
  padding-bottom: 6%;
}
.text-container{
  padding: 1.25rem 5%;
}

/* nav */
nav{
  text-align: center;
  background-color: rgba(0,0,0,0);
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
nav h2{
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 2rem;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li{
  margin: 0 0.5rem;
}

/* header */
header{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../images/a.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* about-us */
.about-us{
  width: 70%;
  margin: 2rem auto;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: #FF9F1C;
  border-radius: 1.5rem;
}

/* products */
.products{
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.products .img-container{
  width: 50%;
  display: flex;
  justify-content: space-around;
  order: 1;
}
.products .text-container{
  width: 40%;
  padding: 1.25rem 5%;
  order: 2;
}

/* services */
.services{
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.services-full-width{
  background-color: #F2F2F2;
}
.services .img-container{
  width: 50%;
  display: flex;
  justify-content: space-around;
  order: 2;
}
.services .text-container{
  width: 40%;
  padding: 1.25rem 5%;
  order: 1;
}

/* brands */
.brands{
  text-align: center;
}
.brands .slides-container{
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.slider {
  width: 30vw;
  height: 20vh;
  margin: 4vh auto;
  position: relative;
}
.slide1,.slide2,.slide3{
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.slide2 {
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

/* testimony */
.testimony{
  background: linear-gradient(to right, #75B8C8, #1C7BFF);
  width: 100vw;
  height: 70vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.testimony h3{
  color: #333333;
  margin-bottom: 2.5rem;
}
.testimony .card{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 100vw;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  color: #333333; 
}
.testimony .card img{
  width: 200px;
  height: auto;
}
.testimony .card blockquote{
  text-align: center;
}
.testimony .card cite{
  align-self: flex-end;
}
.testimony .card:nth-of-type(1){
  animation: slideIn 40s ease 0s infinite;
}
.testimony .card:nth-of-type(2){
  animation: slideIn 40s ease 5s infinite;
}
.testimony .card:nth-of-type(3){
  animation: slideIn 40s ease 10s infinite;
}
.testimony .card:nth-of-type(4){
  animation: slideIn 40s ease 15s infinite;
}
.testimony .card:nth-of-type(5){
  animation: slideIn 40s ease 20s infinite;
}
.testimony .card:nth-of-type(6){
  animation: slideIn 40s ease 25s infinite;
}
.testimony .card:nth-of-type(7){
  animation: slideIn 40s ease 30s infinite;
}
.testimony .card:nth-of-type(8){
  animation: slideIn 40s ease 35s infinite;
}
@keyframes slideIn{
  0% {left: 100vw;}
  1% {left: 25vw;}
  10% {left: 25vw;}
  11% {left: -100vw;}
  100%{left: -100vw;}
}

/* footer */
footer{
  padding-top: 6%;
  padding-bottom: 1%;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
footer .main-footer{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contact-info{
  min-height: 265px;
  min-width: 400px;
  background-color: #171717;
  border-radius: 1rem;
}
footer .contact-info .address{
  font-style: italic;
  font-size: 1.25rem;
  font-weight: lighter;
}
footer .or{
  font-size: 1.5rem;
  font-weight: lighter;
}
footer .emphasize{
  color: #75B8C8;
}


/* media query */
@media only screen and (max-width: 768px){
  
  html h3{
  font-size: 4rem;
  }
  /* about-us */
  .about-us{
    width: 95%;
  }

  /* products */
  .products{
    flex-direction: column;
    text-align: center;
    width: 95%;
  }
  .products .img-container{
  width: 100%;
  order: 1;
  }
  .products .text-container{
  width: 100%;
  order: 2;
  }

  /* services */
  .services{
    flex-direction: column;
    text-align: center;
    width: 95%;
  }
  .services .img-container{
  width: 100%;
  order: 1;
  }
  .services .text-container{
  width: 100%;
  order: 2;
  }

  /* testimony */
  .testimony{
  height: 100vh;
  overflow-y: auto;
  }
  .testimony .card{
    width: 80vw;
  }
  @keyframes slideIn{
  0% {left: 100vw;}
  1% {left: 7vw;}
  10% {left: 7vw;}
  11% {left: -100vw;}
  100%{left: -100vw;}
  }

  /* footer */
  footer .main-footer{
  flex-direction: column;
  }
  footer .contact-info{
    overflow-x: auto;
  }
}

@media only screen and (max-width: 480px){
  html{
    font-size: 1rem;
  }
  html h3{
    font-size: 3rem;
  }
  .testimony{
    height: 100vh;
    overflow-y: auto;
  }
  @keyframes slideIn{
  0% {left: 100vw;}
  1% {left: 4vw;}
  10% {left: 4vw;}
  11% {left: -100vw;}
  100%{left: -100vw;}
  }
}